export MACHINE_DRIVER=google
export GOOGLE_PREEMPTIBLE=1
export GOOGLE_DISK_SIZE=40
export GOOGLE_PROJECT=pa-yrampuria
export GOOGLE_TAGS=java-server,docker-swarm,http-server,https-server,node-sever,development
export GOOGLE_ZONE=asia-southeast1-a

